
@media only screen and (max-width : 1170px) {
	.container {
		max-width: 992px;
	}

	.header__main_info {
		width: 68%;
	}

	.nav {
		a {
			font-size: 14px;
		}
	}

	.hero {
		height: 450px;
		&__title {
			max-width: 860px;
		}
	}

	.product {
		padding-top: 50px;
	}

	.profile {
		padding-bottom: 50px;
	}

	.attention, 
	.advantages,
	.partners {
		padding: 50px 0;
	}

	.partners p {
		font-size: 16px;
		margin-bottom: 10px;
	}

	.map {
		iframe {
			height: 300px;
		}
	}

	.footer__copy {
		flex-direction: column;

		p {
			margin-bottom: 5px;
		}
	}
	
}


@media only screen and (max-width : 992px) {
	.container {
		max-width: 767px;
	}

	.header__main {
		padding-right: 65px;
		position: relative;

		&_logo span {
			display: none;
		}

		&_info {
			width: 88%;
		}

		.hamburger {
			display: block;
		}
	}

	.hero {
		height: 350px;

		&__title {
			max-width: 670px;

			br {
				display: none;
			}

			p {
				width: 50%;
			}
		}
	}

	.nav {
		position: fixed;
		top: 124px;
		left: 100%;
		bottom: 0;
		height: 100vh;
		width: 100vw;
		background-color: $accent;
		z-index: 1001;
		padding: 40px;

		ul {
			width: 100%;
			height: 100%;
			flex-direction: column;
			align-items: center;
			text-align: center;
			margin-bottom: 20px;
		}

		li {
			margin-bottom: 15px;
		}

		&--active {
			left: 0;
		}
	}

	.new p {
		font-size: 20px;

		br {
			display: none;
		}
	}

	h2 {
		margin-bottom: 25px !important;
	}

	.product {

		&__container {
			justify-content: space-around;
		}

		&__item {
			width: 48%;
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}
		
	}

	.profile__grid {
		grid-column-gap: 15px;
		grid-row-gap: 15px;
	}

	.advantages {
		&__item:nth-child(-n+3) {
			margin-bottom: 15px;
		}

		p {
			font-size: 14px;
			br {
				display: none;
			}
		}
	}

	.partners {
		&__col {
			width: 100%;
		}

		.btn {
			margin: 0 auto 10px;
			width: 300px;
		}
	}

	.footer__info h3 {
		font-size: 14px;
	}

	.btn {
		min-width: auto;
		max-width: 300px;
	}
}


@media only screen and (max-width : 767px) {
	.container {
		max-width: 576px;
	}

	h2 {
		font-size: 24px;
		margin-bottom: 20px !important;
	}

	.header {
		&__top {
			&_nav li {
				margin-right: 15px;
			}

			&_form input {
				max-width: 200px;
				min-width: 100%;
			}
		}

		&__main {
			&_info {
				justify-content: flex-end;
				align-items: center;
				width: 80%;

				p {
					margin-right: 25px;
					&:nth-child(1),
					&:nth-child(2) {
						display: none;
					}

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}

	.nav {

		&__info {
			display: block;
			color: #ffffff;
			text-align: center;

			p {
				margin-bottom: 15px;
			}

			br {
				display: none;
			}
		}
	}

	.hero {
		height: 280px;

		&__title {
			justify-content: center;

			p {
				background-color: rgba(#fff, .8);
				text-align: center;
				padding: 10px;
				border-radius: 5px;
				font-size: 24px;
			}
		}
	}

	.new p {
		font-size: 18px;
	}

	.advantages, .attention, .partners {
		padding: 30px 0;
	}

	.attention {

		h3 {
			font-size: 22px;
			margin-bottom: 15px;
		}

		p {
			font-size: 16px;
			margin-bottom: 15px;
		}

	}

	.product__item {

		p {
			margin-bottom: 10px;
			font-size: 16px;
		}

		ul {
			margin-bottom: 15px;
		}

		li {
			margin-bottom: 5px;
			font-size: 14px;
		}

		&_info {
			padding: 10px;
		}
	}

	.profile__grid_item {

		&:nth-child(1) {
			grid-column: 1/5;
		}

		&:nth-child(2) {
			grid-column: 1/5;
		}

		&:nth-child(3) {
			grid-column: 1/5;
			grid-row: 3/4;
		}

	}

	.advantages__item {
		width: 48%;
		margin-bottom: 15px;

		img {
			width: 55px;
		}
	}

	.footer {

		&__logo {
			img {
				width: 75px;
			}
		}

		&__col {
			width: 100%;
			max-width: 320px;
			text-align: center;
			margin: 0 auto 20px;

			p {
				justify-content: center;
				img {
					display: none;
				}
			}
		}

		&__info {
			padding-bottom: 0;

			li {
				margin-bottom: 10px;
			}
		}

		&__copy {
			a {
				display: block;
			}
		}
	}

	.btn {
		&--big,
		&--dark {
			height: 40px;
			font-size: 14px;
		}
	}

}


@media only screen and (max-width : 576px) {
	.container {
		max-width: 100%;
	}

	.btn {
		min-width: auto;
		max-width: 100%;
	}

	.header {
		&__top {

			ul {
				display: none;
			}

			&_form {
				display: flex;
				justify-content: center;
				width: 100%;
			}
		}
		&__main_info {
			width: 70%;
		}
	}

	.nav {
		top: 123px;

		ul {
			border-bottom: 1px solid #fff;
		}
		
		&__menu-two {
			display: flex !important;
			flex-direction: column;

			li {
				margin-right: 0;
			}
		}
	}

	.new__content {
		padding: 30px 0;
	}

	.profile {
		padding-bottom: 30px;
	}

	.footer__info {
		padding-top: 30px;
	}
}


@media only screen and (max-width : 480px) {
	.header {
		padding: 0;

		&__top {
			font-size: 12px;
		}

		&__main {

			&_info {
				flex-direction: column;
				text-align: right;

				p {
					margin-right: 0;
				}
			}

			&_order {
				width: 100%;
			}
		}
	}

	.nav {
		top: 145px;
	}

	.hero {
		img {
			height: 200px;
		}

		&__title {
			p {
				width: 75%;
			}
		}
	}

	.new {
		&__content,
		&__img {
			width: 100%;
			text-align: center;

			img {
				max-width: 200px;
			}
		}
	}

	.product__item {
		width: 100%;
		max-width: 320px;
	}

	.profile__grid {
		h3 {
			font-size: 16px;
		}
		p {
			font-size: 14px;
			margin-bottom: 10px;
		}
	}

	.advantages__item {
		width: 100%;
		max-width: 320px;
		margin: 0 auto 15px;
	}

	.partners p {
		font-size: 14px;
	}

	.footer {
		font-size: 14px;
	}
}