input, textarea, select{
	width: 100%;
	min-width: 250px;
	border: none;
	border-bottom: 1px solid rgba($accent, .5);
	outline: none;
	box-shadow: none;
	// -webkit-appearance: none;
	background-color: transparent;

	&:focus:required:invalid{
		border-color: red;
		outline: none;
		box-shadow: none;
		-webkit-appearance: none;
	}

	&:required:valid{
		border-color: green;
		outline: none;
		box-shadow: none;
		-webkit-appearance: none;
	}

	&::placeholder{
		color: rgba(#292929, .5);
		font-style: italic;
	}
}

input, select {
	height: 30px;
	line-height: 30px;
	padding: 0 8px;

	&::placeholder {
		line-height: 30px;
	}
}

textarea::placeholder {
	line-height: 1.4;
}

label.error {
	position: absolute;
	bottom: -25px;
	right: 25px;
	left: 25px;
	transition: all .3s;
	animation: error .3s linear 1 forwards;
	color: #fff;
	text-align: center;
	font-weight: 600;
	background-color: red;
	border-radius: 10px;
	z-index: 1;

	&::before {
		content: '';
		position: absolute;
		left: 50%;
		top: -8px;
		margin-left: -2px;
		border-bottom: 4px solid red;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-top: 4px solid transparent;
	}

}


