
//----------------------fonts---------------------
$fonts: 'Arial', sans-serif;
$title: 'BebasNeue', sans-serif;
$subtitle: 'Helvetica', sans-serif;
//---------------------end-fonts---------------------

//----------------------color---------------------
$accent: #178fd6;
$text: #292929;
$text-light: #3c3939;
$bg: #edece8;
$red: #c44228;
$blue: #034488;
$border: #a7a7a7;
//---------------------end-color---------------------

body {
	overflow-x: hidden;
	position: relative;
	min-width: 320px;
	font-family: $fonts;
	font-size: 14px;
	color: $text;
	line-height: 1.4;
	font-weight: 400;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	counter-reset: section;
}

::selection {
	background-color: $accent;
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	line-height: 1.2;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

h1, h2 {
	font-family: $title;
}

h2 {
	width: 100%;
	margin-bottom: 50px;
	color: $accent;
	font-size: 30px;
	text-align: center;

	span {
		color: $blue;
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}


b, strong {
	font-weight: 700;
}

p {
	margin: 0;
	padding: 0;
}

a, button {
	transition: all .6s;
	color: $text;
	&:focus,
	&:hover {
		outline: none;
		text-decoration: none;
		border: none;
		outline: none;
	}
}

a {
	&:focus,
	&:hover {
		color: $accent;
	}
}

button {
	padding: 0;
	cursor: pointer;
}
